<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wichteln Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mountains+of+Christmas:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="snow-container" id="snow-container"></div>
    <div class="container">
        <header>
            <h1>Familie Friesen&trade; Wichteln Generator</h1>
        </header>

        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>Made with 🎄 from Marcel for you</p>
        </footer>
    </div>
    <script>
        function createSnowflake() {
            const snowContainer = document.getElementById('snow-container');
            const snowflake = document.createElement('div');
            snowflake.classList.add('snowflake');
            snowflake.innerHTML = '❄';
            snowflake.style.left = Math.random() * 100 + 'vw';
            snowflake.style.animationDuration = Math.random() * 3 + 2 + 's';
            snowflake.style.opacity = Math.random();
            snowflake.style.fontSize = Math.random() * 10 + 10 + 'px';

            snowContainer.appendChild(snowflake);

            setTimeout(() => {
                snowflake.remove();
            }, 5000);
        }

        setInterval(createSnowflake, 100);
    </script>
</body>

</html>